<!DOCTYPE html>
<html lang="en">
<head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
        <style>
        .mytext {
    width: 300px;
        height: 300px;
}
    </style>
</head>
<body>
<h3>Write The Article</h3>
<form action="/search/addtutorial/" method="post">{% csrf_token %}
    TAG         : <input type="text" name="tutorialtag">
    <br>
    DESCRIPTION : <input type="text" name="description"><br>
    <textarea id="TypeHere" name="data">Type some text here.</textarea>
    <input type="submit" value="Submit">
</form>

<!--<textarea id="NoTinyMCE">This is a text area.</textarea>-->
<script type="application/x-javascript">
tinymce.init({selector:'#TypeHere'});
</script>




</body>
</html>







