<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/user/" name="login" method="post" >{% csrf_token %}
        <ul>

            <input type="email" name="email" placeholder="yourname@email.com" required>

            <input type="password" name="password" placeholder="password" required>

            <input type="submit" value="Login">
            <a href="/user/signup/" value="Signup">Signup</a>
        </ul>
    </form>

</body>
</html>