<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="/user/signup/" method="post">{% csrf_token %}
            <table>
                <tr>
                <td>
            <input type="email" name="useremail" placeholder="yourname@email.com" required>Email
            </td>
                    </tr>
                <tr>
                <td>
                    <input type="text" name="first_name"  required>First Name
                </td>
                </tr>
                <tr>
                    <td>
                    <input type="text" name="last_name" required>Last Name
                </td>
                </tr>
                <tr>
                    <td>
                        <input type="number" name="phone_number" required>Phone Number
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="gender" required>Gender
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password"  name="password" required>password
                    </td>
                </tr>
                </table>
                    <input type="submit" value="SIGN UP">
        </form>
</body>
</html>