<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <ul>
        {% for data in tutorial_list %}
        <li>{{data.tag}}</li>
        {% endfor %}
    </ul>
    <a href="/search/addtutorial/">Wants to contribute</a>
</body>
<script type="text/javascript">
$(document).ready(function(){
         $('#contribute').click(function(){
                    alert('here');
        });
});
</script>>
</html>